.searchBar {
  width: 34rem;
  margin: 1.4rem;
  height: 2.5rem;
  border: 1px solid #cccccc !important;
}
input[type="text"]:focus{
  border-color: rgba(82, 168, 236, 0.8);
  /* box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(82 168 236 / 60%); */
}
.ptext {
  color: blue;
  float: right;
  margin: 1rem;
  cursor: pointer;
}
.loginInputsWidth {
  width: 300px !important;
}
.formDiv {
  margin: auto;
  width: 500px;
}
.advSearchLabel {
  font-size: 11px;
  color: #1c75bc;
  position: absolute;
  margin-left: 30rem;
  text-decoration: underline;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: right;
  top: 4px;
}
.noteText {
  width: 23rem !important;
  /* display: block;   */
}
.entryLabel {
  margin: 1rem;
  float: right;
}
.sourceInput {
  width: 200px;
  height: 2.5em;
}
.listyleNone {
  list-style-type: none;
}
.ant-collapse-header {
  color: blue !important;
}
.addressBlock {
  padding: 1rem;
  border: 2px solid #999999;
  background: #eeeeee;
  /* margin-bottom: 1rem; */
}
.addressInputsWidth {
  width: 18rem !important;
  margin-bottom: 1rem;
}
.inputBlock {
  background: #eeeeee;
  border: 2px solid #999999;
  padding: 1rem;
  width: 17rem;
}
.borderCCcolor {
  border: 1px solid #cccccc;
}
.defSelect .ant-select-selector {
  border: none !important;
  font-size: 1.4em;
}
.defSelect .ant-select-show-arrow {
  display: none;
}
/*   */
.ant-collapse {
  border: none !important;
}
.ant-collapse-content {
  border-top: none !important;
}
.ant-collapse > .ant-collapse-item {
  border-bottom: none !important;
}

.ant-collapse-content > .ant-collapse-content-box {
  padding: 8px !important;
}
.sideBar {
  overflow-y: scroll;
  margin: 1rem;
  height: 400px;
}

.ant-table-thead > tr > th{
background: #f5f5f5 !important;
};

/* .ant-table table .customTable{
  border: 1px solid #cccccc !important;
}; */

/* react-select styles */
.mainSelect{
  margin-top: 1rem;
}
.mainSelect .css-1s2u09g-control{
  /* border: hsl(0, 0%, 100%); */
}

.mainSelect .css-1hb7zxy-IndicatorsContainer{
  display: none;
}